beautifulsoup4==4.11.1
bert_extractive_summarizer==0.10.1
docxtpl==0.16.4
numpy==1.21.5
requests==2.28.1
streamlit==1.13.0
streamlit_option_menu==0.3.2
summarizer==0.0.7

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.12.1+cpu

bas64
uuid
datetime
spacy
transformers
sentencepiece
tqdm
argparse
scikit-learn
pytest
sentence-transformers
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz